@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
*{
       font-family: 'Poppins', sans-serif;
}

body{display:flex;
    color:white;
     justify-content: center;
     height: 100%;
     background-image: url(images/code.jpg);
     background-position: center;
     background-size: cover;
}


.container{ border-color:whitesmoke;
     padding: 10px;
     margin: 10px;
}

.email{margin: 10px;
}

.exp{font-size: 20px; 
    font-weight: 5000px;
    margin-top: 50px;}

.thank{padding: 2px;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 40px;}

.form{box-sizing: border-box; }

.submit {width: 390px;
    height: 40px;
    font-size: 22px;
    font-style: italic;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: rgb(1, 124, 224);
    border-width: 5px;
    border-color: rgb(127, 225, 255);
    border-radius: 10px ;
    display: flex;
    justify-content: center;}

.submit:hover{color: black;
    z-index: -1;}

/*copyrights sherif*/
.glass{
    background: linear-gradient(135deg, rgba(117, 130, 248, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border:2px solid rgba(26, 115, 218, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}